/[0-9][0-9][0-9][0-9]_[0-9][0-9]_[0-9][0-9]\.[0-9][0-9]_[0-9][0-9]_[0-9][0-9]\.*
/blocked_domains.csv*
/blocked_domains.txt*
/blocklist.json*
/blocklist.txt*
/fediblock.pub*
/fediblock.txt*
/rapidblock.pub*
/rapidblock.txt*
