# vim:set ts=8 sts=8 sw=8 noet:

*.html	text=auto diff=html
*.css	text=auto diff=css
*.js	text=auto
*.svg	text=auto
*.webp	-text -diff -merge
*.png	-text -diff -merge
*.gif	-text -diff -merge
*.jpg	-text -diff -merge
*.jpeg	-text -diff -merge
*.ttf	-text -diff -merge
*.otf	-text -diff -merge
*.woff	-text -diff -merge
*.woff2	-text -diff -merge
